* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
}

.column {
  width: 100vh;
  height: 100vh;
  overflow: scroll;
}

.column-1 {
  background-color: lightgray;
  width: auto;
}

.column-2 {
  background-color: yellow;
}
.column-3 {
  background-color: lightcoral;
}

.marquee {
  display: flex;
  flex-direction: column;
  gap: 120px;
  overflow: scroll;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(-100%);
  }
}
